body{
background-image:url('/home/Sem6B12/Desktop/image/123.jpg');


}
h1{

color:white;
margin-top:5%;

}

h1:hover{

text-transform:uppercase;
color:#9c27b0;

}
p{
color:blue;
}


.image{
margin-left:20px;
border-style:solid;
border-width:2px;
box-shadow: 6px 5px 10px #000000;
border-radius:20px;
height:280px;
width:280px;
display:inline;
transition: 0.5s;



}
.image:hover {
transform: scale(1.1); 
transition-delay:0.15s;

}



a:link{
color:red;
text-decoration:line;

}
a:visited{
color:green;
text-decoration:none;
}



a:hover{
color:pink;
transition-delay:1s;
text-decoration:none;
}

a:active{
color:blue;
text-decoration:none;
}

.nav{
height:70px;
width:100%;
background-color:white;

}

#nav{
background-color:grey;
padding-top:30px;
padding-left:20%;
height:7%;
width:80%;
border:1px;
box-shadow: 6px 5px 10px #000000;
border-radius:20px;
opacity: 0.8;

box-shadow: 6px 5px 10px #000000;
}


h2{
color:white;
padding-top:5px;
display:inline;
margin-right:25%;

}


