body{
background-image:url('/home/Sem6B12/Desktop/image/123.jpg');


}
h1{

color:white;
mragin-left:40px;

}

h1:hover{

text-transform:uppercase;
color:#9c27b0;

}
p{
color:blue;
}


.image{
border-style:solid;
border-width:2px;
box-shadow: 6px 5px 10px #000000;
border-radius:20px;
height:280px;
width:280px;
display:inline;
transition: 0.5s;



}
.image:hover {
transform: scale(1.1); 
transition-delay:0.15s;

}



a:link{
color:red;
text-decoration:line;

}
a:visited{
color:green;
text-decoration:none;
}



a:hover{
color:pink;
transition-delay:1s;
text-decoration:none;
}

a:active{
color:blue;
text-decoration:none;
}


